h2{
    color: white;
    text-align: center;}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#container{text-align: center;}

button{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    color: white;
    background-color: rgb(97, 97, 97);
    font-size: 28pt;
    border: none;

}

.orange_button{
    background-color: orange;
    }

.gray_button{
    background-color: rgb(158, 158, 158);
    ;
}

#display{
    text-align: end;
    font-size: 40pt;
    color: white;
    background-color:black;
    margin:auto;
    width: 330px;
    margin-bottom: 10px;


}

